* {
	  margin: 0; 
	  padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#abd1ab82;
	  line-height: 1.88889;
	  color: #555753; 
    font-family: fantasy;
	}


header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


nav {              
  font-size: 20px;
}


.nav-link {
  color: white;
}

    
nav.navbar {
  width: 100%;
}

.container-fluid {
    padding: 10px;
    background-color: rgb(6, 83, 6);
}


.carousel-item img {
  width: 100vw; 
  height: 70vh; 
  object-fit: cover; 
}


@media (max-width: 1024px) {
  .carousel-item img {
    height: 50vh;
  }
}


@media (max-width: 500px) {
  .carousel-item img {
    height: 40vh;
  }
}


@media (max-width: 1024px) {
  .carousel-caption {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .carousel-caption {
    font-size: 0.8rem;
  }
}


main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);    
    gap: 0;                                
    height: 150vh;  
  }


.menu-box {
  padding:20px; 
  background-color:rgb(6, 83, 6);
  color: white;             
  font-size: 20px;
}


h3 { 
  text-align: center;
	letter-spacing: 1px; 
  border: 2px double;
}


h5 { 
  text-align: center;
	letter-spacing: 1px; 
}


p { 
  text-align: center;
	letter-spacing: 1px; 

}


.image-thumbnail {
    position: relative;

}


.image-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.image-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    padding: 10px;
    left: 0;
    top: 0;
    width: 100%;   
    height: 100%;    
    z-index: 1;
    opacity: 0;
    background-color: rgba(32, 32, 32, 0.75);
    color: #ecd078;
    transition: opacity 1s ease;
}



.image-caption:hover {
  opacity: 1;
}


.caption-title {
  padding-bottom: 8px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}


.image-caption p {
  text-align: center;
  line-height: 1.5;
}


@media (max-width: 1024px) {
  .caption-title {
    font-size: 1rem;
  }

  .image-caption p,
  .image-caption h5 {
    font-size: 0.8rem;
  }
}


@media (max-width: 500px) {
  .caption-title {
    font-size: 0.7rem;
  }


  .image-caption p,
  .image-caption h5 {
    font-size: 0.6rem;
  }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: aliceblue;
    background-color: rgb(4, 77, 4);
}


.bi-bi-social i {
    margin-right: 15px;
  }

  
@media (max-width: 1024px) {
  .bi-bi-social {
    font-size: 0.8rem;
  }
}


@media (max-width: 500px) {
  .bi-bi-social {
    font-size: 0.6rem;
  }
}


.copyright {
  align-self: flex-start;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-small;
  color:green;
}
